.index-page .theme-default-content {
  padding: 0 !important;
  max-width: none !important;
}

.page-container {
  padding: 20px;
}

.about-page .theme-default-content {
  padding: 50px !important;
  max-width: none !important;
}

.about-page h3 {
  font-size: 24px;
  font-weight: 500;
}

body {
  font-family: Open Sans,Helvetica Neue,Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}